/* Bloco correspondente ao fundo do formulário de precatório */
#form-precatorio {
	background-image: url('./../images/background-form-precatorios.png');
	background-repeat: repeat-x;
	background-position: center;
}

/* Bloco corresponte ao bloco de texto do formulário de precatório */
/* .text-form {
	display: flex;
	flex-direction: column;
	color: rgb(237, 27, 47);
	width: 500px;
	font-weight: 600;
	line-height: 49px;
	align-items: center;
	justify-content: center;
	text-align: left;
	font-size: 25px;
	background-color: #fff;
	padding: 0 40px;
}; */
